body {
    display: flex;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

#background {
    flex: 1;
    position: relative;
    background: url(../assets/cat-high-5.jpg) center;
    filter: contrast(110%);
    background-size: cover;
    background-position: 10% 50%;
}

#background-title {
    margin-top: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#background-title h1 {
    font-family: 'Anek Malayalam', sans-serif;
    margin: 1.5rem 0;
    font-size: 4rem;
    letter-spacing: .03em;
    color: white;
}

#background-title-cat {
    height: 6rem;
}

#background-attributions {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
    font-size: .8rem;
    color: white;
}

.background-attribution {
    margin: 0.2rem 1rem;
    text-align: center;
}

#background-attributions a {
    color: inherit;
}

main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
    background-color: #efcead;
}

header { 
    padding: 2rem clamp(2rem, 5vw, 4rem);
}

#header-title {
    width: min(100%, 40rem);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}

#header-copy {
    width: min(100%, 30rem);
    margin: 2rem 0 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 400;
}

form {
    padding: 2rem clamp(2rem, 5vw, 4rem);
    background-color: #f5f2f5;
    color:rgb(41, 41, 41);
}

#form-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: min(100%, 40rem);
    margin-bottom: 2rem;
}

#form-title {
    margin: 0;
}

#form-header p {
    margin: 0;
    font-style: italic;
    color:rgb(66, 66, 66);
    font-size: 0.9rem;
}

#form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    row-gap: 1rem;
    width: min(100%, 40rem);
}

.form-element {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.form-element label {
    font-size: .8rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
}

.form-element input {
    padding: .5rem .7rem ;
    border: 1px solid #c5c2c5;
    border-radius: .3rem;
}

.form-element input:focus {
    outline: none;
    border: 1px solid rgb(0, 60, 255);
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

input.error {
    border: 1px solid red !important;
}

form button[type="submit"] {
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: .4rem;
    background-color: #744c24;
    font-weight: 600;
    color: white;
}

form button[type="submit"]:hover,
form button[type="submit"]:focus  {
    background-color: #9b6b43;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.3);
}

form button[type="submit"]:active {
    background-color: #744c24;
}

#log-in {
    padding: 1.5rem clamp(2rem, 5vw, 4rem);
}

#log-in a {
    color: #744c24;
    font-weight: 600;
    text-decoration: none;
}

@media only screen and (max-width: 950px) {
    body {
        flex-direction: column;
    }

    #background-attributions {
        top: 0;
        right: 0;
        width: 40%;
        color: black;
    }

    #form-header {
        flex-direction: column;
    }

    #form-grid {
        grid-template-columns: 1fr;
        width: min(100%, 25rem);
    }
}